*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* gerais */

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .flex{
    display: flex;
} */

.flRow{
    display: flex;
    flex-direction: row;
}

.flCol{
    display: flex;
    flex-direction: column;
}

.j-End{
    justify-content: flex-end;
}

.alnC{
    align-items: center;
}

.left{
    float: left;
}

.right{
    float: right;
}

.txtC{
    text-align: center;
}

.deco-none{
    text-decoration: none;
    list-style: none;
}

.h30w130{
    height: 30px;
    width: 130px;
}

.w300{
    width: 300px;
}

.h60{
    height: 60px;
}

.h26w26{
    height: 26px;
    width: 26px;
}

.bdRad5{
    border-radius: 5px;
}

.bdRad30{
    border-radius: 30px;
}

.pdTop200{
    padding-top: 200px;
}

.bkgdW{
    background-color: #f2f2f2;

}

/* cabeçalho */

nav a {
    color: rgb(109, 104, 104);
    margin-right: 10px;
    font-size: 14px;
}

.login-button {
    background-color: #1a73e8;
    color: white;
}

/* Corpo */

p button {
    background-color: rgb(233, 230, 230);
    margin: 10px;
    color: black;
    border: 0px;
}

.pesquisa {
    width: 30%;
    height: 45px;
    border: 1px rgb(196, 191, 191) solid;
}

/* Rodapé */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
     padding: 10px 5px 10px 5px;
    border-bottom: 1px solid #d8d6d6;
}

footer ul {
    margin-top: 0px;
}

footer li {
    display: inline-block;
    padding: 10px 5px 10px 5px;
}